---
import ServerList from '../components/main_list.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<style>
	.full {
		flex: 1;
	}
.flex-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-self: center; */
}
#main{
	background-color: rgba(0, 0, 0, 0.5);
	margin-top:4px;
	margin-bottom: 64px;
	padding-left: 64px;
	padding-right: 64px;
	padding-top: 4px;
}
.multiplayer-header{
	display: flex;
	justify-content: center;
	font-size: 20px;
	padding-top: calc(64px - 24px);
}
</style>
<Layout>
	<header class="multiplayer-header">
		Play Multiplayer
	</header>
	<div id="main" class="full flex-center">
		<!-- <h1 style="width:fit-content">Loading...</h1> -->
		<ServerList server:defer>
			<h1 slot="fallback" style="width:fit-content">Loading...</h1>
		</ServerList>
	</div>
	<footer>
		hi
	</footer>
</Layout>
